nbformat
nbconvert
jupyter_client
ipykernel
ipython
ipywidgets
tqdm
numpy
matplotlib
pandas>=0.24
pytest>=3.5.0
scipy
scikit-learn
cvxpy>=1.0
numba
tensorflow==1.1.0
networkx==1.11
BlackBoxAuditing
Orange3>=3.3.5,<=3.7.1
lime
